<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoanDepartment">
  <test thread-count="5" name="PersonalLoan">
    <classes>
      <class name="Test.Day1">
      	<methods>
      		<include name="Demo"/>      	
      	</methods>
      </class>
      <class name="Test.Day2"/>
      <class name="Test.Day4"/>
    </classes>
  </test>
  <test name="Car Loan">
  <classes>
  <class name = "Test.Day3">
  <methods>
  <exclude name="API.*"/>
  
  </methods>
  </class>
  
  
  </classes>
  
  </test>
  
</suite>
